BASE_RPC_URL=https://sepolia.base.org
ESCROW_ADDRESS=0xYourDeployedEscrowContract
OPERATOR_KEY=0xYourSolverBaseSepoliaPrivateKey

HL_EXCHANGE_URL=https://api.hyperliquid-testnet.xyz/exchange
HL_INFO_URL=https://api.hyperliquid-testnet.xyz/info
HL_TESTNET_KEY=0xYourHyperliquidTestnetAPIKey

POLL_MS=5000
