BASE_RPC_URL=https://sepolia.base.org
ESCROW_ADDRESS=0xb5af8a8bed7272b0b9b0144d58dc86912a6f7dd4
OPERATOR_KEY=0xYourSolverBaseSepoliaPrivateKey

HL_EXCHANGE_URL=https://api.hyperliquid-testnet.xyz/exchange
HL_INFO_URL=https://api.hyperliquid.xyz/info
HL_TESTNET_KEY=0xYourHyperliquidTestnetAPIKey

POLL_MS=5000
VERIFY_DATA_DIR=./data
